.header-content {
  height: 100%;
  position: relative;
  top: 56px;
  left: 0;
  margin-bottom: 100px;
}
.header-video {
  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.header-video video {
  width: 100%;
  
}